<h1>Profile Details: <%= @user.first_name %> <%= @user.last_name %></h1>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>E-Mail Address: <%= @user.email %></p>
<p>Password Salt: <%= @user.salt %></p>
<p>Encrypted Password: <%= @user.encrypted_password %></p>