<h1>Profile Details: <%= @user.first_name %> <%= @user.last_name %></h1>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>E-Mail Address: <%= @user.email %></p>
<p>Password Salt: <%= @user.salt %></p>
<p>Encrypted Password: <%= @user.encrypted_password %></p>
<h1>Session Details</h1>
<p>User ID: <%= session[:user_id] %></p>
<p>Errors: <%= session[:errors] %></p>

<form method="post" action="/sessions/<%= session[:user_id] %>">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Log Out">
</form>